<body id="new_player">
<h3 id="new_player">Enter a new meatbag for me to beat, baby!</h3>
<form action="/new_player" method="post">
	<input type="text" name="player_name"/>
	<br/>
	<input type="submit" class="btn" value="Enter Bender-Blackjack!"/>
</form>
</body>